<div class="container">
  <div class="row d-flex ">
    <div class="col-sm-6 animated fadeInLeft">
      <div class="card border-primary h-100 ">
        <h3 class="card-header text-center white-text" style="background-color: #0a65a4;">Grand Valley State University</h3>
        <div class="card-body black-text">

          <h5 class="card-title text-center">
              School of Computing & Information Systems
              <br>
              AUGUST 2016 - APRIL 2019
            </h5>

          <ul class="fa-ul">
            <li>
              <i class="fa fa-chevron-right"></i> Major: Information Systems</li>
              <br>
              <li>
              
              <i class="fa fa-chevron-right"></i> Minor: Business</li>
              <br>
            <li>
              <i class="fa fa-chevron-right"></i> GPA: 3.2</li>
              <br>
            <li>
              <i class="fa fa-chevron-right"></i> School of Computer & Information Systems Dean's List for multiple semesters.</li>
          </ul>
        
          
        </div>
        <div class="card-footer">        
        <a class="btn form-control primary-color" data-toggle="modal" data-target="#gvsuModal">GVSU Location</a>        
        </div>
      </div>
    </div>

    <div class="col-sm-6 animated fadeInRight">
      <div class="card border-dark h-100 ">
        <h3 class="card-header text-center black white-text">Oakland University</h3>
        <div class="card-body black-text">

          <h5 class="card-title text-center">
            Bachelor of Science
            <br>
            AUGUST 2014 - APRIL 2016
          </h5>
          <ul class="fa-ul">
            <li>
              <i class="fa fa-chevron-right"></i> Major: Information Systems</li>
            <br>
          
            <li>
              <i class="fa fa-chevron-right"></i> GPA: 3.26</li>
          </ul>
        
            
        </div>
        <div class="card-footer">
        <a class="btn form-control elegant-color" data-toggle="modal" data-target="#ouModal">Oakland University Location</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="gvsuModal" tabindex="-1" role="dialog" aria-labelledby="gvsuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title black-text text-center" id="gvsuModalLabel">Where is Grand Valley State University?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.6805692409953!2d-85.89113518409033!3d42.96393547915097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819a31f0c9d398f%3A0xea0367b3e0ec32fa!2sGrand+Valley+State+University!5e0!3m2!1sen!2sus!4v1529684728157" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary form-control" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ouModal" tabindex="-1" role="dialog" aria-labelledby="ouModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title black-text text-center" id="ouModalLabel">Where is Oakland University?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.6811826692356!2d-83.21079978409763!3d42.66811107916755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe994efb06dc14099!2sOakland+University!5e0!3m2!1sen!2sus!4v1529684650072" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>

              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary form-control" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



