<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
      <h1 class="text-center signature"><b> About This Site </b></h1>
      <br>
      <h4><b>Welcome!</b> This is a personal website project of mine that I work on in my spare time.
        Im always working on a modification to improve the sight in some way.
         The purpose of the sight is to show off some of my abilities in a format that is interactive and informative.
         Feel free to contact me if you have any comments, questions, or feedback.
        <br>
        <p class="signature">Nicholas Glenn</p>
      </h4>
      <br>
      <h4>
        <ul>
        <li>This website is supposed to be hosted on Amazon AWS EC2 servers using a Windows based server.</li>
        <br>
        <li>The backend of this website is supported by NodeJS and Express. The front end of the website is supported by AngularJS 6</li>
        <br>
        <li>I am always looking for ways to imporve this site and learn new technologies to further my skills.</li>
        <br>
        <li>Eventually this sites content will be managed using a seperate web application. This will allow me to add new content and change content without rewritting the code for the side.</li>
      </ul>
     </h4>
   </div>
    </div>
</div>
</div>
