<div class="container black-text">
  <div class="row">
    <div class="col">
      <div class="jumbotron animated zoomIn">
      <h1 class="text-center signature uppercase"><b> About This Site </b></h1>
      <br>
      <h4><b>Welcome!</b><br>
         The purpose of this site is to display some of my skills and experiences in an interactive and informative fashion.
         <br>I am always looking for ways to improve this site.<br><br>
         Feel free to contact me if you have any comments, questions, or feedback.
        <br>
        <p class="signature"><a href="mailto:glennn@mail.gvsu.edu">Nicholas Glenn</a></p>
      </h4>
      <br>
     
   </div>
    </div>
</div>
</div>
