  <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col">
      <h1 class="text-center"><b>Contact</b> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img class="imgClass2 img-fluid" src="../../assets/pexels-photo-373543.jpeg" width="100%;">
        </div>
      <br>
      <br>
      </div>
    </div>
  </div>
      <!-- <div class="jumbotron"> -->
      <div class="row d-flex justify-content-center">
       <!-- <div class="col "> -->
        <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-lg text-center black" ng-click="pageDirector(linkedin)">
          <a href="https://www.linkedin.com/in/nicholas-glenn-98b289106" target="_blank">
          <i class="fa fa-linkedin fa-3x lnpad white-text" aria-hidden="true"></i>
          </a>
          <!-- <i data-feather="linkedin"> </i> -->
        </button>
        <button type="button" class="btn btn-lg text-center black" ng-click="pageDirector(email)">
          <a href="mailto:glennn@mail.gvsu.edu" target="">
          <i class="fa fa-envelope fa-3x lnpad white-text" aria-hidden="true" ></i>
        </a>
      </button>
        <button type="button" class="btn btn-lg text-center black" ng-click="pageDirector(github)">
          <a  href="https://github.com/nglenn8566" target="_blank">
          <i class="fa fa-github fa-3x lnpad white-text" aria-hidden="true" ></i>
        </a>
      </button>
        </div>


      <!-- </div> -->
    </div>
  </div>