<div class="container ">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-center animated fadeInDown">
        <b>Skills</b>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="jumbotron black-text animated fadeInLeft">
        <div class="row">
          <div class="col-md">
            <ul>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-angular"></i> AngularJS/Angular V2-8</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-node"></i> NodeJS</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-js"></i> JavaScript</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-aws"></i> Amazon AWS EC2</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-java"></i> JAVA</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class=""><i class="fab fa-html5"></i>  <i class="fab fa-css3"></i> HTML5 & CSS3</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-bitbucket"></i> BitBucket</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" "><i class="fab fa-github"></i> GitHub</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class=""> Eclipse RCP Plugin Development</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class="">Spring</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class="">Electric Cloud</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class="">Maven</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class=""> Maven Tycho</span></h4>
              </li>
              
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">SharePoint</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Slack</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">SAP</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">SAP UI 5</span></h4>
              </li>
              <li class=" rounded hoverable">
                  <h4 class="h4class"><span class=" ">SAP Hybris (C/4HANA)</span></h4>
                </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Bootstrap</span></h4>
              </li>
            
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">MongooseJS</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Express</span></h4>
              </li>
           
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">MongoDB</span></h4>
              </li>
            
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Windows server 2016</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">IIS</span></h4>
              </li>
              <li class=" rounded hoverable">
                  <h4 class="h4class"><span class=" ">Apache2</span></h4>
                </li>
             
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Over four years of Microsoft Visual Studio experience.</span></h4>
              </li>

              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Engineering software including AutoCAD and CATIA.</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">DBAN</span></h4>
              </li>

              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">JAMF Software Casper Management Suite</span></h4>
              </li>
              <li class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Code42 CrashPlan server based backup</span></h4>
              </li>
              <li  class=" rounded hoverable">
                <h4 class="h4class"><span class=" ">Sophos Anti-Virus Software</span></h4>
              </li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="col-md animated fadeInRight">
      <div class="row " style="padding-bottom: 10px;">
        <div class="col">
          <img class="img-fluid hoverable" src="../../assets/MmongoDB-Logo.png">
        </div>
      </div>

      <div class="row" style="padding-bottom: 10px;">
        <div class="col ">
          <img class="img-fluid hoverable bg-light rounded" src="../../assets/2000px-AmazonWebservices_Logo.svg.png">
        </div>
      </div>

      <div class="row" style="padding-bottom: 10px;">
        <div class="col">
          <img class="img-fluid hoverable" src="../../assets/2000px-SAP_2011_logo.svg.png">
        </div>
      </div>


      <!-- <div class="row" style="padding-bottom: 10px;">
        <div class="col">
          <img class="img-fluid" src="../../assets/2000px-Windows_Server_2016_logo.svg.png">
        </div>
      </div> -->

      <div class="row" style="padding-bottom: 10px;">
          <div class="col">
            <img class="img-fluid hoverable" src="../../assets/AngularJS_logo.svg.png">
          </div>
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <div class="col">
              <img class="img-fluid hoverable bg-light rounded" src="../../assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png">
            </div>
          </div>

    </div>

  </div>
</div>
