<div class="container ">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-center animated fadeInDown">
        <b>Skills</b>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="jumbotron black-text animated fadeInLeft">
        <div class="row">
          <div class="col-md">
            <ul>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">HTML5 and CSS</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">SharePoint</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">SAP</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">SAP UI 5</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Bootstrap</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">AngularJS V1, V5, V6</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">NodeJS</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">MongooseJS</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Express</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">JavaScript</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">MongoDB</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Amazon AWS EC2</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Windows server 2016</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">IIS</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">JAVA</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Over four years of Microsoft Visual Studio experience.</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">BitBucket</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">GitHub</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Engineering software including AutoCAD and CATIA.</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">DBAN</span></h4>
              </li>

              <li>
                <h4 class="h4class"><span class="rounded hoverable">JAMF Software Casper Management Suite</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Code42 CrashPlan server based backup</span></h4>
              </li>
              <li>
                <h4 class="h4class"><span class="rounded hoverable">Sophos Anti-Virus Software</span></h4>
              </li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="col-md animated fadeInRight">
      <div class="row " style="padding-bottom: 10px;">
        <div class="col">
          <img class="img-fluid hoverable" src="../../assets/MmongoDB-Logo.png">
        </div>
      </div>

      <div class="row" style="padding-bottom: 10px;">
        <div class="col ">
          <img class="img-fluid hoverable bg-light rounded" src="../../assets/2000px-AmazonWebservices_Logo.svg.png">
        </div>
      </div>

      <div class="row" style="padding-bottom: 10px;">
        <div class="col">
          <img class="img-fluid hoverable" src="../../assets/2000px-SAP_2011_logo.svg.png">
        </div>
      </div>


      <!-- <div class="row" style="padding-bottom: 10px;">
        <div class="col">
          <img class="img-fluid" src="../../assets/2000px-Windows_Server_2016_logo.svg.png">
        </div>
      </div> -->

      <div class="row" style="padding-bottom: 10px;">
          <div class="col">
            <img class="img-fluid hoverable" src="../../assets/AngularJS_logo.svg.png">
          </div>
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <div class="col">
              <img class="img-fluid hoverable bg-light rounded" src="../../assets/CSS3_and_HTML5_logos_and_wordmarks.svg.png">
            </div>
          </div>

    </div>

  </div>
</div>
