@import '~bootstrap/dist/css/bootstrap.min.css';
nav{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Quicksand', sans-serif; */
    background-color: transparent;

}
.nav-item :hover{
    color: white !important;
}
.container{
    /* font-family: 'Roboto', sans-serif; */
    
    font-family: 'Open Sans', sans-serif;    
    /* font-family: 'Quicksand', sans-serif; */
}

.routerPadding{
    padding-top:70px;
}

.cookieRow{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-item:hover{
    background-color: #FF8800;
    /* background-color: #4285F4; */
    border-radius: 5px;
}