@import '~bootstrap/dist/css/bootstrap.min.css';
nav{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Quicksand', sans-serif; */
    background-color: transparent;

}
.itmHover :hover{
    color: white !important;
}
.container{
    /* font-family: 'Roboto', sans-serif; */
    
    font-family: 'Open Sans', sans-serif;    
    /* font-family: 'Quicksand', sans-serif; */
}

.routerPadding{
    padding-top:30px;
}
.dropdown-menu{
    z-index: 4;
    position: relative;
}



