<div class="container">
<nav class="navbar fixed-top navbar-expand-sm navbar-dark elegant-color-dark animated fadeInDown ">
    <a class="navbar-brand" href="">Nicholas Glenn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

  <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" routerLink="/about">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/education" ><i class="fa fa-graduation-cap"></i> Education</a>
            </li>
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" routerLink="/work"><i class="fa fa-briefcase"></i> Work Experience</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/skills" ><i class="fa fa-pencil"></i> Skills</a>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" routerLink="/contact" ><i class="fa fa-address-book"></i> Contact</a>
            </li>
        </ul>
    </div>

</nav>

<!--/.Navbar-->
<div class="routerPadding ">
<router-outlet></router-outlet>
</div>

</div>
